:root {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Melhora a leitura no modo claro/escuro */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; /* -webkit-: Comando específico para Chrome/Safari deixarem a fonte nítida */
    -moz-osx-font-smoothing: grayscale;  /* -moz-: O mesmo comando, mas na "língua" do Firefox */

}

body {
    margin: 0; /* Remove a borda branca chata que vem por padrão nos navegadores */
    padding: 0;
    min-height: 100vh; /* Garante que o site ocupe pelo menos a altura total da tela */
    background-color: #f0f2f5;
    color: #213547;
 
}

h1, h2{
    line-height: 1.1;
    color: #1a1a1a;
}